/*Fazer Até - 25/07*/

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#fronttext {
    text-decoration: none;
}

#frontimg {
    position: relative;
    clear: both;
    margin: auto;
    display: block;
    height: auto;
    width: 100%;
    max-width: 100%;
}

header {
    font-family: 'Josef Sans', cursive;
    font-weight: bold;
    background-color: black;
    border-style: solid;
}

#nav_bar {
    text-align: center;
}

#nav_bar h1 a {
    font-size: 300%;
    color: white;
}

footer {
    background-color: black;
    border-style: solid;
    margin: auto;
}

#footer_page {
    text-align: center;
}

#footer_page li {
    font-family: 'Josef Sans', cursive;
    font-weight: bold;
    display: block;
    color: white;
    font-size: 300%;
    margin: auto;
    padding: 1rem;
}

.imagem_pagina_principal {
    margin: 0;
    display: inline-block;
    background: linear-gradient(to right, #163868 50%, #15448b 50%);
    background-position: left, right;
}

#informacoes {
    font-size: 50px;
    text-align: center;
}

#informacoes h3 {
    margin-bottom: -15px;
    font-family: 'Josefin Sans', sans-serif;
}

#informacoes p, li {
    font-size: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
    font-weight: 300;
    font-family: 'Josefin Sans';
}

#informacoes em {
    font-weight: 400;
}

.images_cores1 {
    height: 382px;
}

#cor1 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_cores2 {
    height: 382px;
}

#cor2 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_cores3 {
    height: 382px;
}

#cor3 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_cores4 {
    height: 382px;
}

#cor4 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_cores5 {
    height: 382px;
}

#cor5 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_cores6 {
    height: 382px;
}

#cor6 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_cores7 {
    height: 382px;
}

#cor7 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem8 {
    height: 382px;
}

#maquiagem8 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem9 {
    height: 382px;
}

#maquiagem9 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem10 {
    height: 382px;
}

#maquiagem10 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem11 {
    height: 382px;
}

#maquiagem11 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem12 {
    height: 382px;
}

#maquiagem12 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem13 {
    height: 382px;
}

#maquiagem13 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem14 {
    height: 382px;
}

#maquiagem14 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem15 {
    height: 382px;
}

#maquiagem15 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem16 {
    height: 382px;
}

#maquiagem16 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem17 {
    height: 382px;
}

#maquiagem17 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem18 {
    height: 382px;
}

#maquiagem18 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem19 {
    height: 382px;
}

#maquiagem19 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem20 {
    height: 382px;
}

#maquiagem20 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_maquiagem21 {
    height: 382px;
}

#maquiagem21 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos1 {
    height: 382px;
}

#tecidos1 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos2 {
    height: 382px;
}

#tecidos2 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos3 {
    height: 382px;
}

#tecidos3 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos4 {
    height: 382px;
    padding-bottom: 2rem;
}

#tecidos4 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos5 {
    height: 382px;
}

#tecidos5 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos6 {
    height: 382px;
}

#tecidos6 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos7 {
    height: 382px;
}

#tecidos7 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos8 {
    height: 382px;
}

#tecidos8 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos9 {
    height: 382px;
}

#tecidos9 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos10 {
    height: 382px;
}

#tecidos10 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.images_tecidos11 {
    height: 382px;
}

#tecidos11 {
    position: relative;
    clear: both;
    margin: 0;
    height: 382px;
    width: 482px;
}

.imagem_pagina_principal2 {
    position: relative;
    clear: both;
    margin: auto;
    display: block;
    width: 482px;
    height: auto;
}