html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: medium;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    margin: 8px;
}

#nav_bar #entrar {
    background-color: #1a73e8;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
}

#google img {
    margin: auto;
    clear: both;
    display: block;
    padding-top: 180px;
    padding-bottom: 22px;
}

#form {
    text-align: center;
}

#barra_de_pesquisa {
    width: 575px;
    line-height: 40px;
    border-radius: 100px;
    border-style: double;
    color: transparent;
    margin: 0;
    padding: 0;
}

#botoes {
    text-align: center;
    padding-top: 30px;
}

#footer_principal {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100.5%;
    border-top: solid 2px #e4e4e4;
    margin-left: -10px;
    margin-bottom: -2px;
}

footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 12px;
}

#footer_esquerdo {
    float: left;
}

#footer_direito {
    float: right;
    margin-right: 20px;
}

#footer_brasil {
    bottom: 50px;
    position: fixed;
    font-size: 14px;
    margin-left: -20px;
    background-color: #f2f2f2;
    width: 110%;
}