/*Fazer Até - 25/07*/

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#fronttext {
    text-decoration: none;
}

#frontimg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 75%;
    width: 75%;
}

#left_color {
    display: inline-block;
    justify-content: left;
    max-width: 10000%;
    height: 10000%;
}

#right_color {
    display: inline-block;
    justify-content: right;
    max-width: 100%;
    height: 600px;
}

header {
    scroll-behavior: unset;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-style: solid;
}

#informacoes {
    font-size: 50px;
    text-align: center;
}

#informacoes h3 {
    margin-bottom: -15px;
    font-family: 'Josefin Sans', sans-serif;
}

#informacoes p {
    font-size: 30px;
    margin-left: 500px;
    margin-right: 500px;
    font-weight: 300;
    font-family: 'Josefin Sans';
}

#informacoes em {
    font-weight: 400;
}

#nav_bar {
    text-align: center;
    margin-top: -90px;
}

#nav_bar h2 {
    color: white;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 14px;
    font-size: 30px;
}

h1 {
    color: white;
    font-size: 50px;
    margin-top: 45px;
    margin-left: 50px;
}
